@media screen and (max-width: 1280px)
	
	header, section, footer
		padding-right: 10px
		padding-left: 10px

@media screen and (max-width: 980px)
	
	.wrapper
		.wrap
			max-width: 940px
			width: 100%
			margin: 0 auto
			position: relative
			padding-right: 10px
			padding-left: 10px

			.title
				max-width: 460px
				position: absolute
				top: 50px
				left: 10px

	.footer-wrap
		padding-right: 10px
		padding-left: 10px


@media screen and (max-width: 800px)
	
	h1
		font-size: 52px
		line-height: 52px

		span
			font-size: 28px
			color: #000
			display: block
	
	.wrapper .wrap .slider
		.slide

			.slide__text
				max-width: 50%
				margin-top: 150px
				line-height: 40px

			.slide__image
				width: 43%
				img
					width: 100%

@media screen and (max-width: 700px)
	
	.wrapper .wrap

		.title
			width: 50%
		.slider
			.slide

				.slide__text
					max-width: 45%
					margin-top: 150px
					line-height: 40px

				.slide__image
					width: 48%
					img
						width: 100%

@media screen and (max-width: 640px)
	
	.wrapper
		.wrap

			.title
				max-width: 640px
				position: static
				width: 100%
				text-align: center
				margin-top: 50px

				h1
					margin: 0 auto
			.slider
				.slide
					display: flex
					flex-direction: column-reverse
					justify-content: space-between
					align-items: center

					.slide__text
						max-width: 100%
						margin-top: 80px
						margin-bottom: 50px
						line-height: 40px
						text-align: center

					.slide__image
						margin-top: 50px
						width: 45%
						img
							width: 100%

			.button
				position: static
				margin: 60px auto 60px

	.footer-wrap
		footer
			text-align: center

@media screen and (max-width: 480px)
	
	.wrapper
		.wrap
			.slider
				.slide

					.slide__image
						margin-top: 50px
						width: 55%
						img
							width: 100%



@media screen and (max-height: 800px)
	
	.wrapper
		height: auto

	