@import "bourbon"
@import reset

+font-face("UbuntuBold", "../fonts/UbuntuBold/UbuntuBold", $file-formats: eot woff ttf)
+font-face("LatoRegular", "../fonts/LatoRegular/LatoRegular", $file-formats: eot woff ttf)

body,html
	height: 100%
body
	font-family: "LatoRegular"
	font-size: 24px
	line-height: normal
	color: #000


h1
	font-size: 64px
	color: #e73434
	font-family: "UbuntuBold"
	line-height: 64px

	span
		font-size: 36px
		color: #000
		display: block

h2
	color: #e73434
	font-size: 28px

a
	color: #000
	text-decoration: none

.wrapper
	padding-top: 30px
	height: 100vh
	width: 100%
	box-sizing: border-box
	position: relative
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: center

	header
		width: 100%
		max-width: 1280px
		overflow: hidden
		box-sizing: border-box
	
	.logo
		float: left

	.lang
		float: right
		line-height: 50px

		span + span
			color: #e73434	

	.wrap
		max-width: 940px
		width: 100%
		margin: 0 auto
		position: relative
		box-sizing: border-box

		.title
			max-width: 479px
			position: absolute
			top: 50px
			left: 0
			z-index: 1

		.slider
			width: 100%
			.slide
				display: flex
				justify-content: space-between
				align-items: center

				.slide__text
					max-width: 56%
					margin-top: 150px
					line-height: 40px

				.slide__image
					width: 37%
					img
						width: 100%
		
		.button
			width: 242px
			height: 52px
			box-shadow: 0 4px 12px rgba(151, 151, 151, 0.5)
			border-radius: 6px
			background-color: #e73434
			text-align: center
			position: relative
			top: -10vh

			a
				color: #fff
				font-size: 14px
				font-weight: 700
				line-height: 52px

	.footer-wrap
		box-shadow: inset 0 1px 0 rgba(214, 214, 214, 0.5)
		background-color: #fff
		width: 100%
		box-sizing: border-box

		footer
			max-width: 940px
			padding: 15px 0
			margin: 0 auto
			font-size: 14px

			p a
				margin-left: 15px

	



@import media